@import '@/src/styles/functions';
@import '@/src/styles/media-queries';
@import '@/src/styles/mixins';

.we-do {
  display: flex;
  flex-wrap: wrap;

  gap: rem(10);


  &__item{
    @include buttonWrp;
  }
}
