@import "../../../src/styles/functions";
@import "../../../src/styles/mixins";

.about {
  @include container;
  margin-bottom: var(--section-margin);

  &__header {
    margin-bottom: rem(80);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(40);
    align-items: flex-end;

    &-text {
      @include text;
      max-width: rem(325);
      color: var(--grey-text);
    }

    &-title {
      @include h1;
      line-height: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(80);
  }

  &__row {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(40);

    &-col{
      display: flex;
      align-items: center;
      gap: rem(55);
    }

    &-icon{
      width: rem(55);
      height: rem(55);

    }

    &-body{
      display: flex;
      flex-direction: column;
      gap: rem(42);
    }

    &-title{
      @include h3;
      line-height: 100%;
    }

    &-text{
      @include textGray;
    }
  }

  @include md{
    &__header{
      margin-bottom: rem(20);
      grid-template-columns: 1fr;
      grid-gap: rem(20);

      &-text{
        order: 2;
      }
    }

    &__body{
      grid-gap: rem(30);
    }

    &__row{
      grid-template-columns: 1fr;
      grid-gap: rem(20);

      &-col{
        grid-template-columns: 1fr;
        grid-gap: rem(20);
      }
      &-icon{
        width: rem(30);
        height: rem(30);
      }
    }
  }
}
