@import "@/src/styles/functions";
@import "@/src/styles/media-queries";
@import "@/src/styles/mixins";

.service-block {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: rem(100) rem(20);
  padding-top: rem(50);

  border-top: rem(2) solid var(--gray-opacity);

  &:not(:last-child) {
    margin-bottom: rem(100);
  }

  @include md {
    grid-template-columns: rem(91) 1fr;
    padding-top: 0;
    border: none;

    grid-gap: rem(15) rem(10);
  }


  &__number, &__about {
    color: var(--gray-light);
  }

  &__number{
    @include md {
      order: -4;
      grid-column: 1/2;
    }
  }
  &__about {
    max-width: rem(660);

    @include md {
      grid-column: 1/3;
      margin: rem(35) 0;
    }
  }

  &__badge-wrp {
    display: flex;
    flex-direction: column;


    @include md {
      grid-column: 1/3;
      order: -5;

      padding-bottom: rem(15);
      border-bottom: rem(2) solid var(--gray-opacity);
    }
  }


  &__ads {
    grid-column: 2/2;
    @include md {
      grid-column: 2/3;
      order: -4;
    }
  }

  &__list {
    grid-column: 3/3;
    @include md {
      grid-column: 1/3;

    }
  }

  &__badge {
    @include h2;

    max-width: max-content;

    padding: rem(12) rem(20);

    border-radius: rem(60);
    border: rem(2) solid var(--gray-opacity);
    white-space: nowrap;
  }


  &__ads {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    max-width: rem(340);

    @include md{
      gap: rem(20);
    }

    &-text {
      color: var(--gray-light);
    }


    &-link {
      display: flex;
      align-items: center;
      max-width: max-content;
      gap: rem(10);

      @include underlineActive(1, 3);

      @include md{
        justify-content: space-between;
        max-width: 100%;
      }

    }
  }
}