@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.reviews {
  width: 100%;
  margin-bottom: var(--section-margin);

  &__header {
    width: 100%;
    gap: rem(20);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: rem(83);
  }

  &__title {
    @include h1;

  }

  &__text {
    @include textGray;
    text-align: right;
  }

  @include md{
    &__header{
      flex-wrap: wrap;


    }

    &__text {
      text-align: left;
    }
  }
}
