@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.hero-burn {
  @include container;
  margin: rem(23) 0 var(--section-margin);

  display: flex;
  flex-direction: column;

  &__maxim {
    position: relative;
    display: flex;
    align-items: start;

    &-wrp {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto rem(40);
    }

    &-img {
      width: rem(120);
      height: rem(120);
    }

    &-text {
      @include textGray;
      display: none;
      margin-top: rem(10);

      @include md {
        display: block;
      }
    }

    &-pruf {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(10);
      padding: rem(20);
      border-radius: rem(24);
      border: rem(1) solid var(--badge2__border-color);

      @include badgeTextSize;

      &-title {
        display: flex;
      }

      &--left {
        margin-left: rem(76);
        transform: rotate(-20deg);
      }

      &--right {
        margin-right: rem(76);
        transform: rotate(20deg);
      }


      @include md {
        padding: rem(10);
        &--left {
          margin-left: rem(0);
        }

        &--right {
          margin-right: rem(0);
        }
      }
    }

  }

  &__title {
    @include h1;
    text-align: center;
    margin-bottom: rem(40);

    &--primary {
      color: var(--primary);
    }
  }

  &__subtitle {
    @include textGray;
    max-width: rem(569);
    margin: 0 auto;
    text-align: center;
  }

  &__rotate {

    &-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(40);

    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(30) rem(60);
      max-width: rem(390);
      flex: 1 1 100%;

      border-radius: rem(60);

      font-size: rem(18);
      line-height: 110%;
      text-align: center;

      &-left {
        transform: rotate(6deg);
        background-color: var(--primary);
        color: var(--white);
      }

      &-right {
        transform: rotate(-6deg);
        background-color: var(--white);
        color: var(--primary);
      }
    }
  }

  &__button {
    @include button;

    height: rem(100);
  }

  @include md {

    &__maxim {
      &-img {
        width: rem(60);
        height: rem(60);
      }

    }

    &__title {
      font-size: rem(32);
      margin-bottom: rem(20);
    }

    &__rotate-box {
      display: none;
    }

    &__button {
      height: rem(60);
      margin-top: rem(80);
    }

  }
}
