@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.main-cases{
  @include container;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: rem(200);
  margin-bottom: rem(300);


  &__row{
    width: 100%;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: rem(20);


    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }

  @include md{
    margin-bottom: rem(150);
    gap: rem(50);

    &__row {
      gap: rem(50);
    }
  }


}