@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.can-order {
  @include container;
  margin-bottom: var(--section-margin);

  &__header {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    gap: rem(40);
    margin-bottom: rem(80);
  }

  &__title {
    @include h1;
    flex: 1 0 56%;
  }

  &__text {
    @include textGray
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(80) rem(40);

  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: rem(200);
    gap: rem(20);
    margin: 0 auto;

    &-icon {

    }

    &-text {
      @include text;
    }
  }

  @include md {
    &__header {
      flex-wrap: wrap-reverse;
      gap: rem(20);
      margin-bottom: rem(40);
    }

    &__body {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(20);
    }

    &__card {
      max-width: rem(90);

      &-icon {
        width: rem(30);
        height: rem(30);
      }

      &:last-child {
        grid-column: 1/3;
      }
    }
  }
}
