@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.express-anchor-nav{
  display: flex;

  width: 100%;
  padding: rem(20);
  gap: rem(50);

  position: sticky;
  top: 0;

  z-index: 10;
  mix-blend-mode: difference;

  @include md {
    gap: rem(29);
    padding: rem(15) rem(20);
  }

  &__link{
    @include textLinkHeader;
    color: var(--white)
  }
}
