@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.footer {
  $this: &;
  @include container;
  margin-bottom: rem(123);


  &--theme {

    &_light {
      #{$this}__title {
        color: var(--black-text);
      }

      #{$this}__social-link {
        background-color: var(--white);
        color: var(--black-text);
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(25);
  }

  &__title {
    @include h1;
    flex: 0 0 66%;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: rem(15);

    &-link {
      @include textGray;
      font-size: rem(36);
      font-weight: 300;
      line-height: normal;
      text-decoration: underline;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--section-margin);

    &-text {
      @include textGray;

      @include xs {
        order: 3;
      }

    }

    @include xs {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__docs {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    @include xs {
      order: 1;
    }


  }

  &__social {
    display: flex;
    align-items: center;
    gap: rem(8);

    @include xs {
      order: 0;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(60);
      height: rem(60);
      border-radius: rem(60);

      background-color: var(--card__bg-color);
      transition: .2s ease-in-out;

      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }

  @include md {
    margin-bottom: rem(40);
    &__body {
      flex-wrap: wrap;
    }
    &__bottom {
      flex-wrap: wrap;
      gap: rem(40);
    }

    &__social {
      display: flex;
      align-items: center;
      gap: rem(4);

      &-link {
        width: rem(40);
        height: rem(40);

      }
    }

  }
}
