@import "@/src/styles/functions";
@import "@/src/styles/mixins";
@import "@/node_modules/swiper/swiper";
@import "@/node_modules/swiper/modules/effect-fade";

.team-slider {
  $this: &;
  @include container;
  position: relative;
  margin-bottom: rem(300);

  @include md{
    margin-bottom: rem(120);
  }


  &__slide-img, &__thumb-img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }

  &__title {
    @include h1;
    max-width: rem(800);

    position: absolute;
    top: rem(30);
    left: rem(50);
    right: rem(50);

    color: var(--white);
    z-index: 12;

    @include md{
      top: rem(20);
      left: rem(20);
      right: rem(20);
    }

  }

  &__slide {
    width: 100%;
    height: rem(900);
    position: relative;
    display: flex;
    flex-direction: column;

    @include md{
      height: rem(663);
    }

    &-media {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-img {
      @include md{
        display: none;

        &.mobile{
          display: block;
        }
      }
    }

    &-since{
      display: none;
      position: absolute;
      top: rem(200);
      right: rem(10);
      color: var(--white);
      z-index: 24;

      writing-mode: vertical-lr;
      transform: rotate(180deg);


      @include md{
        display: block;
      }
    }

    &-body {
      @include h3;
      max-width: rem(543);
      margin: auto rem(30) rem(50) auto;

      color: var(--white);
      z-index: 22;

      @include md{

        margin: auto rem(10) rem(86);

        > * {
          @include h2;
        }
      }

    }

    &-footer {
      display: flex;
      justify-content: space-between;

      margin: 0 rem(30) rem(30);
      padding-top: rem(20);
      border-top: rem(2) solid rgba(255, 255, 255, 0.2);

      color: var(--white);
      z-index: 22;

      @include md{
        padding-top: rem(15);
        margin: 0 rem(10) rem(32);
      }
    }


  }


  &__thumbs {
    position: absolute;
    left: rem(30);
    bottom: rem(122);
    transform: translate(0, -100%);

    @include md{
      left: rem(10);
      right: rem(10);
      bottom: rem(80);
    }
  }


  &__thumb {
    width: rem(78) !important;
    height: rem(78) !important;
    position: relative;

    border-radius: rem(100);
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: '';
      height: 100%;
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.6);

    }

    &.swiper-slide-thumb-active {
      &::before {
        width: 100%;
        transition: width 5s linear;
      }
    }


    @include md{
      width: rem(46) !important;
      height: rem(46) !important;
    }
  }

}
