@import "@/src/styles/functions";
@import "@/src/styles/media-queries";
@import "@/src/styles/mixins";

.case-sidebar {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  overflow: auto;

  padding: rem(30) rem(20) rem(80);

  @include md{
    max-height: none;
    position: relative;

    padding: rem(20) rem(10);
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__back-link {
    display: flex;
    align-items: center;
    max-width: max-content;

    gap: rem(10);
    margin-bottom: rem(50);

    border: none;

    cursor: pointer;

    @include hoverUnderline(2);
    @include hoverActiveUnderline;

    > * {
      cursor: pointer;
    }

    &-icon {
      fill: var(--text-color);
      transform: rotate(180deg);
    }

    @include md{
      margin-bottom: rem(20);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;

    padding-bottom: rem(50);
    margin-bottom: rem(50);

    border-bottom: rem(1) solid var(--gray-opacity);

    @include md{
      padding-bottom: rem(15);
      margin-bottom: rem(20);
    }
  }

  &__title {
    @include h2;

    display: flex;
    align-items: center;
    gap: rem(10);

    margin-bottom: rem(10);

  }

  &__sub-title {
    color: var(--gray-light);
  }

  &__body {
    display: flex;
    flex-direction: column;

    gap: rem(50);
    margin-top: auto;

    @include md{
      gap: rem(20);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &-title {


    }

    &-text {
      color: var(--gray-light)
    }

    @include md{
      gap: rem(10);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: rem(50);

    padding-top: rem(50);
    margin-top: rem(50);

    border-top: rem(1) solid var(--gray-opacity);
    background-color: var(--bg-color);


    @include md{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;

      gap: rem(15);
      padding: rem(15) rem(10) rem(20);
    }
  }

  &__case-link {
    @include h3;

    display: flex;
    align-items: center;
    gap: rem(10);

    justify-content: space-between;

    @include hoverUnderline(2);
    @include hoverActiveUnderline;
  }

  &__behance-link {
    display: flex;
    align-items: center;
    gap: rem(10);

    max-width: max-content;

    @include hoverUnderline(2);
    @include hoverActiveUnderline;
  }

  &__arrow-icon{
    fill: var(--text-color)
  }

}