@import '@/src/styles/functions';
@import '@/src/styles/mixins';

.burger {
  $this: &;
  flex: 0 0 auto;

  &__button {
    @include button;

    display: none;
    justify-content: center;

    max-width: none;
    width: rem(97);
    height: rem(59);

    &-text {
      position: absolute;
      opacity: 1;
    }
    &-icon {
      position: absolute;
      opacity: 0;
      stroke: var(--black);
    }

    &-icon,
    &-text {
      transition: opacity 0.15s ease-in-out;
    }

    &--open, &--closing{
      #{$this}__button-text {
        opacity: 0;
      }
      #{$this}__button-icon {
        opacity: 1;
      }
    }

    @include md {
      display: flex;
    }
  }

  &__dropdown {
    display: none;
    flex-direction: column;

    position: fixed;
    top: rem(116);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);

    padding: 0 var(--x-spacing) rem(50);

    overflow-y: auto;
    z-index: 999;
    
    .mobile{
      margin-bottom: rem(100)!important;
    }

    &--open{
      display: flex;
    }
  }
}
