@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.about-hero {
  position: relative;
  width: 100%;
  height: rem(547);


  &__content {
    display: flex;
    flex-direction: column;

    max-width: rem(989);

    padding: 0 var(--x-padding);
    margin-top: rem(116);
    gap: rem(50);

    @include md{
      margin-top: rem(50);
    }
  }

  &__title {
    @include h1;
  }


  @include md{
    height: rem(243);
  }

}
