@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.brif-modal {
  $this: &;
  z-index: 99999999999;
  position: fixed;
  top: -99999px;
  left: -99999px;

  display: flex;

  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5);

  overflow: auto;


  &--open {
    top: 0;
    left: 0;

    #{$this}__wrp {
      transform: translate(0, 0);
      opacity: 1;
    }

  }

  &__wrp {
    @include container;

    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: rem(1207);
    max-height: 90%;

    opacity: 0;
    transform: translate(0, -100px);
    transition: opacity .35s ease-in-out, transform .35s ease-in-out;
  }


  &__content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: rem(40);


    @include md {
      padding: rem(20) rem(10);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    gap: rem(20);
  }

  &__title {
    @include h1;
    margin-bottom: rem(20);
  }

  &__subtitle {
    @include h2;
    max-width: rem(481);
    margin-bottom: rem(50);
    color: var(--gray-light)

  }

  &__close {
    cursor: pointer;
    stroke-width: 8px;

    @include md {
      width: rem(40);
      height: rem(40);
      stroke-width: 3px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    margin-bottom: rem(150);

    @include md {
      margin-bottom: rem(100);
    }
  }


  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(20);


    @include md {
      grid-template-columns: 1fr;
    }

    &-col {
      display: flex;
      align-items: center;
      gap: rem(20);
      width: 100%;

    }

    &-title {
      flex: 1 0 auto;
      color: var(--gray-light)
    }

    &-line {
      display: flex;
      width: 100%;
      height: rem(1);
      flex: 0 1 auto;
      background-color: var(--gray-opacity);

    }

    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }

  &__load-guide {
    @include h3;
    @include underline(2);
    @include underlineActive(2);

    width: 100%;
    max-width: max-content;


  }

  &__social {
    gap: rem(10);

    @include md {
      flex-wrap: wrap;
    }

    &-link {
      @include h4;
      padding: rem(12) rem(20);
      border: rem(1) solid var(--gray-opacity);
      border-radius: rem(60);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(20);

    align-items: flex-end;
    justify-content: space-between;
    gap: rem(50);

    color: var(--gray-light);

    @include md {
      display: flex;
      flex-direction: column-reverse;
      //flex-wrap: wrap-reverse;
    }

  }

  &__notice {
    grid-column: 2/2;
    opacity: 0.5;
  }

  //&__link {
  //  @include h1;
  //  color: var(--text-color);
  //
  //  > * {
  //    color: var(--text-color);
  //  }
  //
  //  display: none;
  //  align-items: center;
  //  white-space: nowrap;
  //
  //  gap: rem(10);
  //
  //  @include underline(6, 15);
  //  @include underlineActive(6);
  //
  //  @include md {
  //    display: flex;
  //    width: 100%;
  //    justify-content: space-between;
  //    @include underline(2, 4);
  //    @include underlineActive(2);
  //  }
  //
  //  &:hover {
  //    color: var(--text-color);
  //  }
  //
  //  &-icon {
  //    fill: var(--text-color);
  //    stroke-width: rem(6);
  //
  //    &.mobile {
  //      display: none;
  //
  //    }
  //
  //    @include md {
  //      &.mobile {
  //        display: block;
  //
  //
  //        stroke: var(--text-color);
  //        stroke-width: rem(2);
  //      }
  //    }
  //  }
  //
  //}

}
