@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.hero {
  @include container;
  margin: rem(90) 0 var(--section-margin);

  display: flex;
  flex-direction: column;

  gap: rem(60);

  &__maxim {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto rem(25);
    gap: rem(10);

    &-img {
      width: rem(60);
      height: rem(60);
    }

  }

  &__title {
    @include h1;
  }


  &__button {
    @include button;
    height: rem(120);
  }


  @include md {
    margin-top: rem(45);
    text-align: center;
    gap: rem(40);

    &__maxim {
      display: flex;
    }

    &__title {
      font-size: rem(26);
    }

    &__button {
      height: rem(60);
    }
  }
}
