@import '@/src/styles/functions';
@import '@/src/styles/media-queries';
@import '@/src/styles/mixins';

.clients {
  display: flex;
  gap: rem(10);

  &__img{
    display: flex;
    
    width: 100%;
    height: auto;
    object-fit: cover;

    &-wrp{
      display: flex;
      max-width: rem(60);

      @include md {
        max-width: rem(40);
      }
    }


  }

}
