
.about-page{
  --bg-color: var(--white);
  --text-color: var(--gray-black);

  --footer-line: rgba(45, 45, 45, 0.2);
  --gray-opacity: rgba(45, 45, 45, 0.2);

  background-color: var(--bg-color);
  color: var(--text-color);
}




.text-animate, .text-animate-slow {
  opacity: 0;
  transform: translateY(3vw);
  animation: fadeOut .5s, moveDown .5s;

}


.swiper-slide-active .text-animate  {
  animation: fadeIn 0.8s 0.2s forwards, moveUp 0.8s 0.2s forwards;
}

.swiper-slide-active .text-animate-slow  {
  animation: fadeIn 0.8s 0.5s forwards, moveUp 0.8s 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(3vw);
  }

  100% {
    transform: translateX(0vw);
  }
}