@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.discuss-link {
  display: flex;
  align-items: center;
  gap: rem(10);
  max-width: max-content;

  @include underlineActive(1, 3);

  &__icon{
    fill: var(--text-color)
  }
}
