@import "functions";
@import "media-queries";

@mixin container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--x-padding);
}

@mixin textBase {
  font-size: rem(18);
  line-height: 120%;

  font-style: normal;
  font-weight: 500;

  @include md {
    font-size: rem(15);
  }
}

@mixin h1 {
  @include textBase;
  font-size: rem(90);
  line-height: 85%;
  letter-spacing: -0.03em;

  @include md {
    font-size: rem(36);
  }
}

@mixin h2 {
  @include textBase;
  font-size: rem(40);
  line-height: 100%;
  letter-spacing: -0.03em;

  @include md {
    font-size: rem(20);
  }
}

@mixin h3 {
  @include textBase;
  font-size: rem(32);
  line-height: 120%;
  letter-spacing: -0.03em;

  @include md {
    font-size: rem(18);
  }
}

@mixin h4 {
  @include textBase;
  font-size: rem(20);
  line-height: 120%;

  @include md {
    font-size: rem(15);
  }
}


@mixin underline($borderHeight: 1, $bottom: 0) {
  color: inherit;
  text-decoration: none;
  background: no-repeat 0 100%;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 rem($borderHeight);
  transition: background-size .3s ease, background-image .3s ease;
  padding-bottom: rem($bottom);
  cursor: pointer;

  > * {
    cursor: pointer;
  }

  &:hover {
    background-size: 100% rem($borderHeight);
  }

}


@mixin underlineActive($borderHeight: 1, $color: white) {
  background-size: 100% rem($borderHeight);

  &:hover {
    animation: hoverOff .3s ease;
    animation-fill-mode: forwards;
  }

  @keyframes hoverOff {
    0% {
      background-size: 100% rem($borderHeight);
      background-image: linear-gradient(color-mix(in srgb, currentColor 100%, transparent), color-mix(in srgb, currentColor 100%, transparent));
    }
    25% {
      background-size: 75% rem($borderHeight);
      background-image: linear-gradient(color-mix(in srgb, currentColor 95%, transparent), color-mix(in srgb, currentColor 95%, transparent));
    }
    50% {
      background-size: 50% rem($borderHeight);
      background-image: linear-gradient(color-mix(in srgb, currentColor 85%, transparent), color-mix(in srgb, currentColor 85%, transparent));
    }
    75% {
      background-size: 25% rem($borderHeight);
      background-image: linear-gradient(color-mix(in srgb, currentColor 45%, transparent), color-mix(in srgb, currentColor 45%, transparent));
    }
    100% {
      background-size: 0 rem($borderHeight);
      background-image: linear-gradient(color-mix(in srgb, currentColor 0%, transparent), color-mix(in srgb, currentColor 0%, transparent));

    }
  }

}



@mixin scrollbar {

  ::-webkit-scrollbar {
    width: rem(16);
    height: rem(16);
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    width: rem(8);
    height: rem(8);

    border: rem(4) solid transparent;
    border-radius: rem(8);
    background-clip: padding-box;
    transition: background-color .2s ease-in-out;

    background-color: var(--scroll-color);

    &:hover {
      background-color: var(--scroll-color);
    }
  }
}