@import "functions";
@import "media-queries";

@mixin container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--x-padding);
}

@mixin textBase {
  font-size: rem(18);
  line-height: 120%;

  font-style: normal;
  font-weight: 500;
}

@mixin h1 {
  @include textBase;
  font-size: rem(90);
  line-height: 85%;
  letter-spacing: -3%;
}

@mixin h2 {
  @include textBase;
  font-size: rem(40);
  line-height: 100%;
  letter-spacing: -3%;
}

@mixin h3 {
  @include textBase;
  font-size: rem(32);
  line-height: 120%;
  letter-spacing: -3%;
}

@mixin h4 {
  @include textBase;
  font-size: rem(20);
  line-height: 120%;
}


@mixin hoverUnderline {

  position: relative;
  cursor: pointer;

  > * {
    cursor: pointer;
  }


  &:after {
    border: none;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.5s;
  }

  &:hover:before {
    border-bottom: 1px solid currentColor;
  }

  &:hover:after {
    border: none;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background-color: currentColor;
    transition: width 0.5s;
  }

}


@mixin button {

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: var(--button__border-radius);
  background-color: transparent;
  box-shadow: none;
  border: rem(1) solid var(--button__border-color);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }
}


@mixin scrollbar {

  ::-webkit-scrollbar {
    width: rem(16);
    height: rem(16);
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    width: rem(8);
    height: rem(8);

    border: rem(4) solid transparent;
    border-radius: rem(8);
    background-clip: padding-box;
    transition: background-color .2s ease-in-out;

    background-color: #353535;

    &:hover {
      background-color: var(--primary);
    }
  }
}