@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.hero-main {
  @include container;

  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: var(--section-margin);

  &__wrp {
    max-width: rem(1018);
    margin: rem(145) auto 0;

    display: flex;
    flex-direction: column;

    gap: rem(50);
  }

  &__title {
    @include h1;
  }

  &__subtitle {
    @include textGray;

    max-width: rem(740);
  }

  &__button {
    @include button;
    height: rem(100);
    margin-top: rem(220);
  }

  /** Картинки с абсолютом start */
  &__cloudImg {
    position: absolute;
    z-index: -1;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__diamond {
    top: rem(159);
    left: rem(15);

    width: rem(310);
    height: rem(310);


    @include elg {
      top: rem(142);
      left: rem(-10);

      width: rem(225);
      height: rem(225);

    }

    @include md {
      top: rem(65);
      left: rem(-30);
      transform: rotate(-27deg);

      width: rem(205);
      height: rem(205);

    }
  }

  &__vector1 {
    top: rem(572);
    left: rem(118);
    width: rem(154);
    height: rem(154);
    padding: rem(40);

    @include elg {
      top: rem(525);
      left: rem(52);
      width: rem(140);
      height: rem(140);
    }

    @include md {
      top: rem(92);
      left: rem(84);
      transform: rotate(-9deg);
      z-index: 123;
      padding: 0;
      width: rem(32);
      height: rem(32);
    }
  }

  &__vector2 {
    top: rem(398);
    right: rem(160);
    width: rem(292);
    height: rem(250);

    @include elg {
      top: rem(499);
      right: rem(110);
      width: rem(242);
      height: rem(200);
    }

    @include md {
      top: rem(608);
      right: rem(88);
      width: rem(165);
      height: rem(130);
    }
  }

  &__laptop {
    top: rem(319);
    right: rem(-14);
    width: rem(436);
    height: rem(436);

    @include elg {
      top: rem(450);
      width: rem(332);
      height: rem(332);
    }

    @include md {
      top: rem(563);
      width: rem(244);
      height: rem(244);
    }
  }

  /** Картинки с абсолютом end */

  @include md {
    margin-bottom: rem(365);
    text-align: center;

    &__wrp {
      margin-top: rem(180);
    }

    &__title {
      font-size: rem(32);
    }

    &__button {
      height: rem(60);
      margin-top: rem(40);
    }
  }
}
