@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.portfolio-hero {
  position: relative;
  width: 100%;
  height: rem(835);


  &__content {
    display: flex;
    flex-direction: column;

    max-width: rem(693);

    padding: 0 var(--x-padding);
    margin-top: rem(116);
    gap: rem(50)
  }

  &__title {
    @include h1;
  }


  @include md{
    height: rem(375);

    &__content {
      margin-top: rem(50);
      gap: rem(60);
    }
  }

}
