@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.team {
  @include container;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: rem(20);
  margin-bottom: rem(300);

  @include md{
    display: flex;
    flex-direction: column;
    gap: rem(50);

    margin-bottom: rem(150);
  }


  &__content {
    display: flex;
    flex-direction: column;

    max-width: rem(989);

    padding: 0 var(--x-padding);
    margin-top: rem(116);
    gap: rem(50)
  }



  &__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    max-width: rem(621);

    color: var(--gray-light);
  }

  &__title {
    @include h3;

    color: var(--black);
  }

  &__media{

  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}
