@import "../src/styles/functions";
@import "../src/styles/media-queries";
@import "../src/styles/mixins";

:root {
  /* sizes */
  --max-width: 1880px;

  --x-padding: 20px;


  /* colors */
  --black: #080808;
  --white: #FFFFFF;

  --red: #FF3E13;

  --gray-black: #2D2D2D;
  --gray-light: #A1A1A1;

}


@include md {
  :root {
    /* sizes */

  }
}

@include scrollbar;


body {
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  font-smoothing: always;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--x-padding);
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
  @include textBase;


  @include md {
    padding: 0 var(--x-padding);
  }
}


