@import "../../styles/functions";
@import "../../styles/mixins";

.collapse {
  $this: &;
  width: 100%;

  background-color: var(--card__bg-color);
  border-radius: var(--card__border-radius);

  padding-bottom: rem(20);
  border-bottom: rem(1.5) solid var(--gray-opacity);

  cursor: pointer;

  &__header{
    width: 100%;
    display: flex;
    align-items: center;

    cursor: pointer;

    &-wrp{
      width: 100%;
    }

    & > * {
      cursor: pointer;
    }
  }


  &__icon{
    transform: rotate(-180deg);
    transition: transform .2s ease-in-out;

    &--open{
      transform: rotate(0);
    }
  }

  &__body{
    padding-top: rem(50);
    color: var(--gray-light);
  }

}
