@import "../../styles/functions";
@import "../../styles/mixins";

.collapse {
  $this: &;
  width: 100%;

  background-color: var(--card__bg-color);
  border-radius: var(--card__border-radius);

  padding: rem(40);
  cursor: pointer;


  &--theme{

    &_light{

      background-color: var(--white);

      #{$this}__title{
        color: var(--black-text);
      }
    }
  }


  > * {
    cursor: pointer;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__title{
    @include text;
    font-size: rem(28);
    line-height: normal;

  }

  &__icon{
    transform: rotate(-180deg);
    transition: transform .2s ease-in-out;

    &--open{
      transform: rotate(0);
    }
  }

  &__body{
    @include textGray;
    padding-top: rem(30);
  }

  @include md {

    padding: rem(20);

    &__icon{
      width: rem(12);
      height: rem(5);
    }
  }
}
