@import "../../styles/functions";
@import "../../styles/mixins";

.collapse {
  $this: &;
  width: 100%;

  background-color: var(--card__bg-color);
  border-radius: var(--card__border-radius);

  padding-bottom: rem(20);
  border-bottom: rem(1.5) solid var(--gray-opacity);

  cursor: pointer;

  @include md{
    padding-bottom: rem(15);
  }

  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(20);

    cursor: pointer;

    &-wrp{
      width: 100%;
    }

    & > * {
      cursor: pointer;
    }
  }


  &__icon{
    transform: rotate(0);
    transition: transform .3s linear;

    &--open{
      transform: rotate(45deg);
    }
  }

  &__body{
    padding-top: rem(50);
    color: var(--gray-light);
    opacity: 0;
    transition: opacity .3s linear;

    &--open{
      opacity: 1;
    }

    @include md{
      padding-top: rem(20);
    }
  }

}
