@import '@/src/styles/functions';
@import '@/src/styles/media-queries';
@import '@/src/styles/mixins';

.order-btn {
  @include orangeButton;

  margin-left: auto;
  z-index: 56;

  @include md {
    position: relative;
    top: auto;
    margin-left: 0;
    margin-top: rem(178);
  }
}
