@import "../../../src/styles/functions";
@import "../../../src/styles/mixins";

@mixin caseHeaderCol {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  flex: 1 1 100%;
  justify-content: space-between;
}

.cases {
  @include container;
  margin-bottom: var(--section-margin);

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(40) rem(20);

    //align-items: stretch;
    margin-bottom: rem(120);


    min-width: 1px;

    > * {
      min-width: 1px;
    }


    &-left {
      @include caseHeaderCol;

      &-title {
        @include h2;
        font-size: rem(44);
        letter-spacing: 0;

        &--primary {
          color: var(--orange);
        }

        @include md {
          font-size: rem(12);
        }
      }

      &-text {
        @include textGray;
        align-self: center;

        @include lg {
          grid-column: 1/3;
          order: 3;
        }

      }
    }

    &-right {
      @include caseHeaderCol;

      &-title {
        @include h1;
      }
    }

    @include md{
      &-right{

      }
      &-title{

      }
    }
  }

  &__body{
    display: flex;
    flex-wrap: wrap;

    gap: rem(80) rem(20);

    > * {
      flex: 1 1 rem(400);
    }

  }

  &__button{
    @include button;
    height: rem(100);
    width: 100%;
    margin-top: rem(40);
  }


  @include md {

    &__header{
      gap: rem(20);
      margin-bottom: rem(40);
    }

    &__body{
      gap: rem(50);
    }

    &__button{
      height: rem(60);
      margin-top: rem(20);
    }
  }
}
