@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.case-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: rem(1);

  background-color: var(--card__bg-color);
  border-radius: var(--card__border-radius);

  &__media {
    width: 100%;
    height: rem(440);
    display: flex;
    align-items: flex-end;

  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding: rem(40);
    overflow: hidden;
  }

  &__title {
    @include h3;
    line-height: normal;
  }

  &__text {
    @include textGray;
    font-size: rem(18);
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    justify-content: space-between;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    flex: 1 0 rem(140);
    gap: rem(20);


    &-title {
      @include h3;
      line-height: normal;
    }

    &-text {
      @include textGray;
      font-size: rem(16);
    }
  }


  @include md {
    &__media{
      height: rem(200);
    }

    &__body {
      gap: rem(20);
      padding: rem(20);
    }

    &__stats {
      gap: rem(12);
    }

    &__stat {
      display: flex;
      flex-direction: column;
      flex: 1 0 rem(72);
      gap: rem(10);

    }
  }
}
