@import "@/src/styles/functions";
@import "@/src/styles/media-queries";
@import "@/src/styles/mixins";

.card {
  position: relative;
  max-width: 100%;
  width: 100%;

  min-width: rem(325);

  flex: 0 1 36.5%;

  &:nth-child(4n+0),
  &:nth-child(4n+1) {
    flex: 0 1 61.5%;
  }

  @include md {
    flex: 1 1 100%!important;

    &__title-icon {
      width: rem(21);
      height: rem(21);
    }
  }

  &__wrp {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: rem(30);

    @include md {

      gap: rem(15);
    }

  }


  &__media {
    position: relative;
    background-color: var(--card-media--bg);

    @include md {
      height: rem(445);
    }
  }

  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__rating {
    display: flex;
    margin-bottom: rem(20);

    @include md {
      margin-bottom: rem(10);
    }
  }

  &__title {
    @include h3;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-bottom: rem(15);

    &-text {
      @include underlineActive(2);
    }

    @include md {
      margin-bottom: rem(10);
    }
  }

  &__desc {
    color: var(--gray-light);
    max-width: rem(350);

  }


}