@import '@/src/styles/functions';
@import '@/src/styles/media-queries';
@import '@/src/styles/mixins';

.navigation {
  display: flex;
  align-items: flex-end;

  @include md {
    align-items: flex-start;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: rem(15);

    position: sticky;
    bottom: rem(50);

    @include md {
      position: relative;
      bottom: auto;
    }
  }

  &__link {
    @include button;
  }
}
