@import '@/src/styles/functions';
@import '@/src/styles/mixins';

.TextInput {
  $this: &;
  position: relative;

  $height: rem(60);
  $top: rem(20);
  $left: rem(20);
  $padding: rem(20);
  $labelBottom: calc(100% - #{rem(31)});

  @include md {
    $height: rem(76)!important;
    $top: rem(16);
    $padding: rem(16) rem(20)!important;
    $labelBottom: calc(100% - #{rem(27)})
  }


  &__input {
    @include textBase;
    @include buttonWrp;

    position: relative;

    height: $height;

    padding: $padding;
    align-items: flex-end;

    line-height: 100%;
    opacity: 0;

    transform: translate(0, rem(-15));
    border: rem(1) solid transparent;
    
    transition:
      background-color 0.3s ease,
      height 0.3s ease,
      opacity 0.3s ease,
      border-color 0.3s ease,
      transform 0.3s ease;

    &--focus{
      height: $height;
      
      &:focus-within{
        border-color: var(--black-2);
      }

    }

    &--visible{
      transform: translate(0, 0);
      opacity: 1;
    }


    &-native {
      @include textBase;

      width: auto;
      display: flex;
      flex: 1 1 auto;

      border: none;
      outline: none !important;
      background-color: transparent;
  

      &::placeholder,
      &:-ms-input-placeholder,
      &::-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--gray-opacity);
      }
  
      &::placeholder {
        opacity: 1; /* Firefox */
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    color: var(--black-2);
    left: $left;
    pointer-events: none;
    transition: all 0.3s ease;

    &--focus{
      top: $top;
      left: $left;
      bottom: $labelBottom;
      font-size: rem(11);
      line-height: 100%;
    }
    
  }

  &__hidden {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: $padding;
  }
}
