@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.header-nav {
  $this: &;
  display: flex;
  align-items: center;
  gap: rem(50);

  &__link {
    @include textBase;

    color: var(--text-color);
  }


  &--active {
  }

  &__underline{
    @include underline();

    &--active{
      @include underlineActive();
    }
  }


  @include md {
    align-items: flex-start;

    &__link {
      @include h1;

    }

    &__underline{
      @include underline(2, 5);

      &--active {
        @include underlineActive(2);
      }
    }
  }
}
