@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.header-nav {
  display: flex;
  align-items: center;
  gap: rem(50);

  &__link {
    @include textBase;

    color: var(--text-color);

    @include hoverUnderline;
  }


  @include md {
    align-items: flex-start;

    &__link {
      @include h1;

      &--active {
        @include hoverUnderline(2, 5);
        @include hoverActiveUnderline;
      }
    }
  }
}
