@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.header-nav {
  display: flex;
  align-items: center;
  gap: rem(50);

  &__link {
    @include hoverUnderline;
    @include textBase;

    color: var(--text-color);
    border-color: var(--text-color);

    &--active {
      border-bottom: rem(1) solid var(--text-color);
    }

  }


  @include md {
    align-items: flex-start;

    &__link {
      @include h1;

      &--active {
        border-bottom: rem(2) solid var(--text-color);
      }
    }
  }
}
