@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.telegrammBanner {
  @include textSmall();

  display: flex;
  align-items: center;
  justify-content: center;

  padding: rem(10) var(--x-spacing);
  
  background-color: var(--blue);
  color: var(--white);
  gap: rem(10);

  &:hover{
    color: var(--white);
  }

}
