@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.header {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  
  padding: rem(30) var(--x-padding);

  background-color: var(--bg-color);

  z-index: 20;


  @include md {
    padding: rem(20) var(--x-padding);
  }

  &__logo {
    fill: var(--text-color)
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav {

    @include md {
      display: none;
    }
  }

  &__discus {
    @include md {
      display: none !important;
    }
  }

  &__burger {
    $burger: &;
    display: none;
    flex-direction: column;

    position: relative;
    width: rem(40);
    height: rem(14);

    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    @include md {
      display: flex;
    }

    &-line {
      width: 100%;
      height: rem(2);
      background-color: var(--text-color);

      &:nth-child(1) {
        transition: .2s ease-in-out;
        position: absolute;
        top: 0;
      }

      &:nth-child(2) {
        transition: .2s ease-in-out;
        position: absolute;
        bottom: 0;
      }


    }

    &--open {
      #{$burger}-line:nth-child(1) {
        transform: rotate(45deg);
        top: rem(6);
      }

      #{$burger}-line:nth-child(2) {
        transform: rotate(-45deg);
        bottom: rem(6);
      }
    }


    &-dropdown {
      @include container;
      display: flex;
      flex-direction: column;
      gap: rem(20);

      padding-top: rem(20);
      visibility: hidden;
      opacity: 0;

      position: fixed;
      top: rem(65);
      left: -250%;
      right: 0;
      bottom: 0;

      background-color: var(--bg-color);

      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      &--show {
        visibility: visible;
        overflow: auto;
        opacity: 1;
        left: 0;
      }

      &--closing{
        opacity: 0;
        left: 0;
      }

      @include md {
        gap: rem(15);
      }
    }

    &-nav {
      flex-direction: column;
      gap: rem(15);
    }

    &-footer {
      display: flex;
      flex-direction: column;
      gap: rem(100);
      margin-top: auto;
      margin-bottom: rem(50);

      padding-top: rem(100);


      .brif-link {
        @include h1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 100%;
        width: 100%;

        gap: rem(10);
        background-color: red;
        @include underline(2, 7);
        @include underlineActive(2, red);

        &-icon {
          fill: var(--text-color);
          stroke-width: rem(2);

          @include md{
            &.mobile{
              display: block;

              stroke: var(--text-color);
              stroke-width: rem(2);
            }
          }
        }
      }
    }

    &-contacts {
      margin-bottom: 0 !important;
    }


  }

}
