@import '@/src/styles/functions';
@import '@/src/styles/mixins';

.header {
  display: flex;
  flex-direction: column;

  grid-column: 1/4;

  position: sticky;
  top: 0;

  &__main {
    min-width: rem(1);
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-top: rem(20);
    padding-bottom: rem(30);

    @include md {
      align-items: center;
      padding: rem(10) 0;
      background-color: var(--white);
      z-index: 20;
    }
  }

  &__logo {
    &-link {
      margin-bottom: rem(10);
    }

    &-icon {
      object-fit: cover;
      display: flex;
      
      width: rem(173) !important;
      height: auto !important;

      @include md {
        width: rem(137) !important;
        height: auto !important;
      }
    }

    &-text {
      max-width: rem(208);
      margin-top: rem(10);
      color: var(--black-2);

      font-size: rem(14);
      line-height: 140%;

      &.mobile {
        display: none;
        max-width: rem(122);
        margin-bottom: rem(60);

        font-size: rem(10);
      }

      @include md {
        display: none;
        margin-top: 0;

        &.mobile {
          display: block;
        }
      }
    }
  }

  @include md {
    background-color: var(--white);
    z-index: 100;
  }
}
