@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.partners {
  @include container;


  &__header {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    gap: rem(20);
    margin-bottom: rem(80);
  }

  &__title {
    @include h1;
    flex: 1 0 66%;
  }

  &__text {
    @include textGray
  }

  &__paralax {
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 rem(-40) var(--section-margin);

  }

  &__body {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: rem(20);

    transform: translate(-500px, 0);
  }

  &__card {
    width: rem(266);
    height: rem(140);
    padding: rem(20) rem(40);
    display: flex;
    flex: 0 0 rem(266);
    align-items: center;
    justify-content: center;

    border-radius: rem(20);
    border: rem(1) solid var(--grey);

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include md {
    &__header {
      flex-wrap: wrap-reverse;
      margin-bottom: rem(20);
    }

    &__paralax {
      margin: 0 rem(-20) var(--section-margin);
    }

    &__card {
      width: rem(180);
      height: rem(120);
      padding: rem(20);
      flex: 0 0 rem(180);
    }
  }
}
