@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.partners {


  &__paralax{
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__body{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: rem(200);
    padding: rem(10) 0;

    transform: translate(-200px, 0);

    @include md{
      gap: rem(80);
    }
  }

  &__card{
    overflow: hidden;
    min-width: min-content;
    width: 100%;
  }

}
