@import "../../styles/functions";
@import "../../styles/mixins";

.magnetic-button {
  position: relative;
  will-change: transform;

  &__wrp {
    user-select: none;

    @include md {
      pointer-events: none;
    }
  }
}
