@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.look-like {
  width: 100%;
  padding: 0 var(--x-padding);
  margin-bottom: var(--section-margin);

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(20);
    margin-bottom: rem(70);
    color: var(--black-text);


    &-text {
      @include textGray;
      color: var(--grey-text);
    }
  }

  &__title {
    @include h1;
    line-height: 100%;

    &--primary {
      color: var(--primary);
    }
  }


  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(83);
    padding: rem(83) rem(115);
    background-color: var(--white);
    border-radius: var(--card__border-radius);

  }


  &__badge {
    position: absolute;

    padding: rem(40);

    background-color: var(--white);
    border: rem(1) solid var(--primary);
    border-radius: var(--card__border-radius);

    &-icon {
      width: rem(60);
      height: rem(60);
    }

    &--number {

      &_one {
        transform: rotate(20deg);
        top: rem(-48);
        right: rem(140);
      }

      &_two {
        transform: rotate(-20deg);
        top: rem(232);
        left: rem(-64);
      }

      &_three {
        transform: rotate(-10deg);
        bottom: rem(-64);
        right: rem(270);
      }
    }
  }

  &__row {
    @include text;
    padding: rem(40);
    color: var(--black-text);
    border: rem(1) solid #DEDEDE;
    border-radius: var(--card__border-radius);
    line-height: 110%;

    &--number {

      &_one,
      &_three {
        max-width: rem(785);
      }

      &_one {
        margin-left: rem(115);
      }

      &_two {
        margin-left: rem(230);
      }

    }
  }


  @include md{
    &__header {
      margin-bottom: rem(40);


      &-text {
        @include textGray;
        color: var(--grey-text);
      }
    }

    &__body{
      padding: rem(10);
      gap: rem(10)
    }
    &__badge{
      display: none;
    }

    &__row{
      max-width: 100%;
      padding: rem(20);
      margin: 0;
    }
  }
}
