@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.media{
  @include container;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: rem(60);
  margin-bottom: rem(300);

  &__header{

  }

  &__title{
    @include h1
  }


  &__body{
    display: flex;
    gap: rem(20);
  }
}