@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.footer {
  display: flex;
  flex-direction: column;
  margin: auto 0 rem(53);

  @include textSmall;

  &__docs{
    display: flex;
    align-items: flex-end;
    gap: rem(20);
    margin-bottom: rem(10);

    @include md {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: rem(20);
    }
  }

  &__link{
    @include textSmall;
  }

  &__about{
    color: var(--black-2);
  }
}
