@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.footer {
  $this: &;
  @include container;

  position: relative;
  margin-top: auto;

  &__row {
    display: grid;
    grid-template-columns: 1fr minmax(rem(375), rem(1167));
    grid-gap: var(--x-padding);

    @include md{
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    position: relative;
  }


  &__brif-link {
    @include h1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    width: 100%;

    margin-bottom: rem(200);
    gap: rem(10);

    @include hoverUnderline(5, 22);
    @include hoverActiveUnderline;


    &-icon {
      stroke: var(--text-color);
      stroke-width: rem(6);

      &.mobile{
        display: none;
      }

      @include md{
        &.mobile{
          display: block;

          stroke: var(--text-color);
          stroke-width: rem(2);
        }
      }
    }

    @include md{
      margin-bottom: rem(50);
      @include hoverUnderline(2, 5);
      @include hoverActiveUnderline;
    }
  }

  &__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    margin-bottom: rem(100);

  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    margin-bottom: rem(50);
    gap: rem(15) rem(50);

    color: var(--gray-light);
  }


  &__privacy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(15) rem(50);

    &-link {
      color: var(--gray-light);

      @include hoverUnderline;
      @include hoverActiveUnderline;
    }

    @include xs{
      flex-direction: column;
      align-items: flex-start;
    }
  }

}
