@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.footer {
  $this: &;
  @include container;
  position: relative;

  &__row {
    display: grid;
    grid-template-columns: 1fr minmax(rem(375), rem(1167));
    grid-gap: var(--x-padding);
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    position: relative;
  }


  &__brif-link {
    @include h1();
    @include childPointer();

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    width: 100%;

    margin-bottom: rem(200);
    gap: rem(10);

    border-bottom: rem(5) solid var(--white);

    &-icon {
      fill: var(--white);
    }
  }

  &__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    margin-bottom: rem(100);

  }

  &__contact {

    &-link {
      @include h2;

      border-bottom: rem(2) solid var(--white);
    }

    &-line {
      width: 100%;
      height: rem(1);
      background-color: rgba(255, 255, 255, 0.2);

      z-index: -1;
    }
  }


  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(50);

    color: var(--gray-light);
  }


  &__privacy {
    display: flex;
    align-items: center;
    margin-bottom: rem(50);
    gap: rem(50);

    &-link {
      color: var(--gray-light);
      border-bottom: rem(1) solid var(--gray-light);
    }
  }
}
