@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.main-services {
  @include container;
  width: 100%;

  margin-bottom: rem(200);

  @include md {
    margin-bottom: rem(150);
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: rem(20);

    margin-bottom: rem(60);

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    @include h1;
    grid-column: 2/2;

    @include md {
      grid-column: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(50);

  }


  &__service {
    width: 100%;
    min-width: 1px;

    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    align-items: flex-start;

    grid-gap: rem(20);
    padding-top: rem(20);
    border-top: rem(1) solid rgba(255, 255, 255, 0.2);

    &-number, &-title {
      color: var(--gray-light)
    }

    &-number {
      order: 1;
    }

    &-title {
      order: 3;
      color: var(--gray-light)
    }

    &-badge {
      @include h2;

      max-width: max-content;

      padding: rem(12) rem(20);

      border-radius: rem(60);
      border: rem(2) solid rgba(255, 255, 255, 0.2);

      order: 4;

    }

    &-link {

      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      max-width: max-content;

      gap: rem(10);

      order: 12;

      @include underlineActive(1, 3);

      &-icon {
        fill: var(--white)
      }
    }


    @include md {
      grid-template-columns: minmax(rem(50), 1fr);
      align-items: center;
      border: none;

      &-badge {
        order: -1;
      }

      &-number {
        margin-left: auto;
      }

      &-title-text{
        display: inline-flex;
        max-width: rem(264);
      }

      &-title, &-link {
        grid-column: 1/3;
      }

      &-title {
        padding-top: rem(15);
        border-top: rem(1) solid rgba(255, 255, 255, 0.2);
      }

      &-link {
        @include h3;
      }
    }
  }

}