@import "@/src/styles/functions";
@import "@/src/styles/media-queries";
@import "@/src/styles/mixins";


.contact-card {
  $this: &;

  @include container;
  margin: 0 auto;

  &__wrp {
    min-height: rem(440);
    padding: rem(40) rem(60);
    margin-bottom: var(--section-margin);
    gap: rem(20);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border-radius: var(--card__border-radius);
    background-color: var(--card__bg-color);
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 49%;
    gap: rem(50)
  }

  &__title {
    @include h1;
    line-height: 100%;
  }

  &__text {

  }

  &__media {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 49%;
    justify-content: flex-end;
  }

  &__people {
    flex: 1 0 100%;
    max-width: rem(320);
    max-height: rem(320);
    border-radius: rem(320);
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 0 100%;
    max-width: rem(320);
    max-height: rem(320);
    margin-left: rem(-60);

    border-radius: rem(320);
    background-color: var(--white);
    position: relative;

    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: var(--primary);

      #{$this}__link {
        color: var(--white);

        &-icon {
          &.white-icon {
            display: block;
          }

          &.black-icon {
            display: none;
          }
        }
      }

    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: rem(8);
    border-radius: rem(320);

    text-align: center;
    color: #000;
    line-height: 110%;
    font-weight: 400;
    cursor: pointer;
    transition: none;

    &-text {
      cursor: pointer;
      width: rem(100);
    }

    &-icon {
      width: rem(44);
      height: rem(44);
      padding: rem(5);
      cursor: pointer;
      transition: opacity .2s ease-in-out;

      &.white-icon {
        display: none;
      }
    }
  }


  @include md {


    &__wrp {
      min-height: auto;
      align-items: normal;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;

      padding: 0;
      background-color: transparent;
    }

    &__title {
      margin-bottom: rem(20);
    }

    &__body {
      flex: auto;
    }

    &__media {
      flex: 1 1 auto;
      justify-content: flex-start;
      gap: rem(20)
    }

    &__people,
    &__button {
      max-width: rem(130);
      max-height: rem(130);
      margin-left: 0;
    }

    &__link {
      gap: rem(3);

      &-icon {
        width: rem(33);
        height: rem(33);
      }

      &_text {
        max-width: rem(60);
      }
    }

  }
}
