@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.brif-from {
  @include container;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: rem(10);

  max-width: rem(1306);
  margin: 0 auto rem(300);

  @include md {
    gap: rem(40);
    margin-bottom: rem(150);
  }

  .mt-100 {
    margin-top: rem(100);

    @include md {
      margin: 0;
    }
  }

  &__row {
    width: 100%;
    min-width: 1px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(20);
    padding-bottom: rem(10);
    overflow: hidden;

    @include md {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__title-cell {
    @include textBase;

    display: flex;
    align-items: center;

    max-height: rem(58);
    height: 100%;

    gap: rem(20);

    border-bottom: rem(1) solid rgba(45, 45, 45, 0.1);

    &-text {
      color: var(--text-color);
    }

    &-icon {
      fill: var(--gray-black);

      &--error {
        fill: var(--red);
      }
    }

    @include md {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      border: none;
    }
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;

    gap: rem(10)
  }

  &__file-input {
    cursor: pointer;

    > * {
      cursor: pointer;
    }

    &-wrp{
      position: relative;
      
    }

    &-field {
      display: none;
      color: transparent;
      visibility: hidden;
      padding: 0;
      margin: 0;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }
    }


    &-label {
      @include h3;
      color: var(--text-color);

      @include hoverUnderline(2, 4);
      @include hoverActiveUnderline;

    }

    &::before {
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
    }

    &:active {
      outline: 0;
    }


  }

  &__submit-btn {
    @include h1;

    grid-column: 2/2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    gap: rem(10);

    border: none;


    @include hoverUnderline(5, 17);
    @include hoverActiveUnderline;

    outline: none;
    background-color: transparent;

    cursor: pointer;

    > * {
      cursor: pointer;
    }

    @include md {
      padding-bottom: rem(6);
      border-bottom: rem(2) solid var(--text-color);
    }

    &-text {
      @include h1;

      color: var(--text-color);
    }

    &-icon {
      stroke: var(--text-color);
      stroke-width: rem(6);

      &.mobile {
        stroke: var(--text-color);
        stroke-width: rem(2);
        display: none;
      }

      @include md {
        &.mobile {
          display: block;
        }
      }
    }

    &--loading {
      opacity: .5;
      pointer-events: none;
    }

  }

  &__actions {
    margin-top: rem(150);

    @include md {
      margin-top: rem(100);
    }
  }

}
