@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.faq-burn {
  @include container;
  margin-bottom: var(--section-margin);

  &__header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(25);
    margin-bottom: rem(80);
  }

  &__title{
    @include h1;
    color: var(--black-text);
    flex: 0 0 38%;
  }

  &__text{
    @include textGray
  }

  &__accordion{
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  @include md {

    &__header{
      align-items: flex-start;
      flex-wrap: wrap-reverse;
      margin-bottom: rem(20);
      gap: rem(20);
    }

  }

}
