@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.express-page {

  &__process-section {
    margin-bottom: rem(250) !important;
  }

  &__form-title{
    margin: 0 auto;
    text-align: center;
    font-size: rem(180);

    @include md{
      font-size: rem(35);
    }
  }


  @include md {
    [id] {
      scroll-margin-top: rem(61);

      &::before {
        content: '';
        display: block;
        height: rem(61);
        margin-top: rem(-61);

      }
    }
  }



}
