@import '@/src/styles/functions';
@import '@/src/styles/media-queries';
@import '@/src/styles/mixins';

.case {
  display: flex;
  flex-direction: column;
  gap: var(--y-spacing--small);

  &__header {
    display: flex;
    align-items: center;
    gap: rem(20);

    @include md {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
    }
  }

  &__logo {
    @include roundedImage;
  }

  &__media {
    max-width: 100%;
    max-height: rem(622);
    height: 100%;

    &-img {
      display: flex;

      width: 100% !important;
      height: 100% !important;
    }

    &-custom {
      max-width: 100%;
      max-height: rem(622);
      height: 100%;

      display: grid;
      grid-template-columns: minmax(auto, rem(308)) minmax(auto, rem(483));
      grid-template-rows: 1fr 2fr;
      grid-gap: rem(15);

      @include md {
      }
    }

    &-wrp {
      width: 100%;
      height: 100%;
    }

    &-video {
      max-height: rem(414);
      grid-column: 1/3;
      grid-row: 2/3;

      display: flex;
      width: 100% !important;

      object-fit: cover;
      border-radius: rem(14);
    }
  }

  &__body {
    width: calc(100% - rem(50));
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include md {
      gap: rem(10);
    }
  }

  &__ceo {
    display: flex;
    align-items: center;
    gap: rem(20);

    &-img {
      @include roundedImage;
    }

    &-subtitle {
      @include textSmall;
      color: var(--black-2);
    }

    @include md {
      gap: rem(10);
    }
  }
}
