@import "@/src/styles/functions";
@import "@/src/styles/mixins";


.express-form {
  @include container;

  display: flex;
  flex-direction: column;
  gap: rem(150);
  margin-bottom: rem(300);

  @include md {
    gap: rem(50);
    margin-bottom: rem(200);
  }

  &__title {
    text-align: center;
    font-size: rem(180);
    line-height: 100%;
    font-weight: 400;

    @include md {
      font-size: rem(35);
    }
  }

  &__form {
    width: 100%;
    max-width: rem(930);
    margin: 0 auto;
  }

  &__row {
    width: 100%;

    display: flex;
    gap: rem(20);
    padding-bottom: rem(20);
    overflow: hidden;
    align-items: stretch;

    > * {
      flex: 1 0 48%
    }


    @include md {
      display: flex;
      flex-direction: column;
      gap: rem(15);
      padding-bottom: rem(25);
    }
  }

  &__title-cell {
    @include textBase;

    display: flex;
    align-items: center;

    max-height: rem(58);
    height: 100%;

    gap: rem(20);

    border-bottom: rem(2) solid var(--gray-opacity);

    &-text {
      color: var(--gray-light);
    }

    &-icon {
      fill: var(--gray-light);

      &--error {
        fill: var(--red);
      }
    }

    @include md {
      width: 100%;
      gap: rem(15);
      border: none;
    }
  }

  &__input {
    background-color: #0F0F0F!important;
    border-radius: rem(15);
    border: rem(2) solid var(--gray-opacity) !important;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px #23232329;
    }

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C0C0C0 !important;

    }

    &::placeholder {
      opacity: 1; /* Firefox */
    }

  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: rem(100);


    @include md {
      margin-top: rem(50);
    }
  }

  &__submit {
    @include h2;
    padding: rem(17) rem(20);
    background-color: var(--white);
    border-radius: rem(15);
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    transition: opacity 0.15s ease-in-out;

    &:hover{
      opacity: .6;
    }

    @include md {
      padding: rem(19) rem(25);
    }
  }

}
