@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.tags-section {

  &__paralax{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    margin: 0 0 var(--section-margin);
    gap: rem(20);

    overflow: hidden;
  }

  &__body{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: rem(20);

    transform: translate(-500px, 0);
  }

  &__card{
    @include h2;
    padding: rem(40) rem(80);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: rem(80);
    color: var(--primary);
    background-color: var(--white);
    font-size: rem(60);
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: normal;
  }

  @include md{

    &__paralax{
      width: calc(100% + #{rem(40)});
      margin: 0 rem(-20) var(--section-margin);
      gap: rem(10);
    }

    &__body{
      gap: rem(1)
    }
    &__card{
      padding: rem(20);
      font-size: rem(16);
    }
  }
}
