@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.reviews-slider {


  &__viewport {
    position: relative;
    overflow: hidden;
    width: calc(100% + var(--x-padding) * 2);
    margin: 0 calc(var(--x-padding) * -1) rem(20);

    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: rem(280);
      z-index: 101;



      @include md{
        width: rem(80);
      }
    }

    &:before{
      left: 0;
      background: linear-gradient(90deg, #121212 0%, rgba(18, 18, 18, 0.00) 105.62%);;
    }

    &:after{
      right: 0;
      background: linear-gradient(270deg, #121212 0%, rgba(18, 18, 18, 0.00) 105.62%);
    }


  }


  &__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(20px * -1);
  }

  &__slide {
    max-width: rem(670);
    flex: 0 0 100%;
    min-width: 0;
    padding-left: 20px;
    position: relative;
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    height: rem(100);
  }

  &__btn {
    @include button;
    height: 100%;
    width: rem(80);

    &-icon{

    }
  }

  &__contact-btn {
    @include button;
    height: 100%;
    width: 100%;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: rem(40);
    gap: rem(53);
    background-color: var(--card__bg-color);
    border-radius: var(--card__border-radius);

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20)
    }

    &-person {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(15);

      &-wrp {
        display: flex;
        flex-direction: column;
        gap: rem(14);
      }
    }

    &-media {
      width: rem(60);
      height: rem(60);
      border-radius: rem(120);
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-name {
      @include textBase;
      font-size: rem(28);
      line-height: 1;
    }

    &-text {
      @include textGray;
      margin-top: auto;
    }

    &-badges{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(8)
    }

    &-badge{
      display: inline-flex;
      align-items: center;
      padding: rem(8) rem(20);
      border-radius: rem(40);
      border: rem(1) solid var(--badge__border-color);
      font-size: rem(16);
      color: var(--white);
      line-height: 1;
    }


  }

  @include md{
    &__actions{
      height: rem(60);
    }

    &__btn{
      width: rem(60);

      &-icon{
        width: rem(17);
        height: rem(14);
      }
    }
    &__slide{
      min-height: rem(200);
      max-width: calc(100% - (var(--x-padding) * 2));
    }

    &__card{
      padding: rem(20);
      &-media {
        width: rem(40);
        height: rem(40);
      }

      &-name {
        font-size: rem(16);
      }

      &-badge {
        font-size: rem(10);
      }

      &-text {
        @include textGray;
        margin-top: auto;
      }

    }

  }
}
