@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.brighter-box {
  @include container();
  width: 100%;
  margin-bottom: rem(20);
  border-radius: var(--white-box__border-radius);
  overflow: hidden;

  &__header{
    padding: rem(90) 0 rem(40);
    min-height: rem(310);
    background-color: var(--primary);

  }

  &__loopline{
    animation: scroll 20s linear infinite;
    white-space: nowrap;
    display: flex;

  }

  &__img{
    width: 100%;
    max-width: rem(670);
    display: flex;
    flex: 1 1 auto;
    object-fit: contain;
    margin-left: rem(20);
  }


  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% + 80px));
    }
  }

  &__body{
    padding: rem(240) var(--x-padding) rem(120);
    background-color: var(--white-bg);
  }

  &__footer{
    margin-bottom: 0!important;
  }
}
