@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.contacts {
  $this: &;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(20);

  margin-bottom: rem(100);
  position: relative;

  &__row {
    display: grid;
    grid-template-columns: 1fr minmax(rem(375), rem(1167));
    grid-gap: var(--x-padding);

    @include md{
      display: none;

    }

  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    position: relative;
  }

  &__contact {

    &-link {
      @include h2;

      border-bottom: rem(2) solid var(--text-color);
    }

    &-line {
      width: 100%;
      height: rem(1);
      background-color: var(--footer-line);

    }
  }


  &__mobile-contacts {
    display: none;
    flex-direction: column;

    @include md{
      display: flex;
    }


    &-row {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      grid-gap: rem(20);
    }

    &-title {
    }

    &-line {
      width: 100%;
      height: rem(2);
      background-color: var(--gray-opacity);

    }

    &-link {
      @include h3;
      align-items: flex-end;

    }



  }
}
