@import "@/src/styles/functions";
@import "@/src/styles/mixins";

@mixin ExpressSectionTitle {
  font-size: rem(200);
  line-height: 100%;
  font-weight: 400;

  @include elg {
    font-size: rem(150);
  }

  @include md {
    font-size: rem(35);
  }
}

.express-section {
  @include container;

  display: flex;
  flex-direction: column;

  margin-bottom: rem(300);

  @include md {
    margin-bottom: rem(200)!important;
  }

  &__header{
    @include ExpressSectionTitle;

    display: flex;
    justify-content: space-between;
    gap: rem(20);

    padding-bottom: rem(100);
    margin-bottom: rem(50);

    border-bottom: rem(2) solid var(--gray-opacity);

    @include md {
      padding-bottom: rem(11);
      margin-bottom: rem(30);
    }

  }

  &__title, &__number{
    @include ExpressSectionTitle;

  }

  &__title{

    &--titleSize{
      &_small{

      }
    }

  }





}
