.brif-page{
  --bg-color: var(--white);
  --text-color: var(--gray-black);

  --footer-line: rgba(45, 45, 45, 0.2);
  --gray-opacity: rgba(45, 45, 45, 0.2);

  background-color: var(--bg-color);
  color: var(--text-color);
}